* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion {
  background: gainsboro;
}

.container {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 20px;
}

.btn{
    background: goldenrod;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
}

.btn:hover{
    filter: brightness(0.9);
    transition: all 0.5s;
}

.panel {
    display: none;
}

.panel p{
    font-size: 18px;
    margin-bottom: 10px;
}
